* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-color: #eef3f7;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin: 30px;
}
.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}
.book img {
  width: 50%;
  object-fit: cover;
}
.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.book h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}
/* 
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin: 30px;
}
.collectionBooks {
  padding: 10px 10px;
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  width: 220px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  margin-right: 50px;
}
.collectionBooks h4 {
  color: grey;
  font-size: 10px;
  padding-top: 5px;
}
.masterClass {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.masterClass img {
  width: 150px;
  height: 150px;
}
.collectionBooks:hover {
  background-color: rgba(173, 216, 230, 0.562);
  transition: ease 1s;
} */
